@model BikeStore.Models.Bikes

@{
    ViewBag.Title = "Add";
    //Layout = "~/Views/MasterView.cshtml";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";   

}

    <div class="panel">
        <div class="panel-heading">
          
                <h2>Добавление велосипеда @*"@Model.Manufacturer"*@</h2>
            </div>

            @using (Html.BeginForm())
            {
              
                <div class="panel-body">
                    @Html.HiddenFor(m => m.Id)
                    @foreach (var bikes in ViewData.ModelMetadata.Properties)
                    {
                        if (bikes.PropertyName != "Id" && bikes.PropertyName != "Bikes_Orders")
                        {
                            <div class="form-group">
                                <label>@(bikes.DisplayName ?? bikes.PropertyName)</label>
                                @if (bikes.PropertyName == "Description")
                                {
                                    @Html.TextArea(bikes.PropertyName, null, new { @class = " form-control", rows = 5 })
                                }
                                else
                                {
                                    @Html.TextBox(bikes.PropertyName, null, new { @class = " form-control" })
                                }
                            </div>     
                                         
                        }
                    }
                   
                   
                </div>


                                    <div class="panel-footer">

                                        <input type="submit" value="Добавить" class="btn btn-primary" />

                                        @Html.ActionLink("Назад", "Index", null, new { @class = "bnt bnt-default" })

                                    </div>
            }
    
    </div>
